.common,
.thin {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  padding: 10px 40px;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
  text-align: center;
}
.common {
  border-radius: 5px 0 0 5px;
  width: 200px;
}

.thin {
  border-radius: 0 5px 5px 0;
  width: 200px;
}

.type {
  display: flex;
  margin-bottom: 10px;
}

.m_replaced,
.l_replaced {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  padding: 10px 60px;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
}
.m_replaced {
  border-radius: 5px 0 0 5px;
  width: 200px;
  text-align: center;
}
.l_replaced {
  border-radius: 0 5px 5px 0;
  width: 200px;
  text-align: center;
}

.size {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.s,
.m,
.l {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  padding: 10px 31px;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
  width: 133.4px;
  text-align: center;
}
.s {
  border-radius: 5px 0 0 5px;
}
.l {
  border-radius: 0 5px 5px 0;
}
