.buttons {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
 
}

.type {
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  
}

.size {
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.size_buttons {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
  
}
.type_buttons {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;


}
