.buttons {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
  width: 370px;
}
.type,
.size {
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.current_buttons {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  width: 185px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
  text-align: center;
}
